
#wien{/*başlık*/
    text-align: center ;
    color: white;
    background-color: #181D31;
    font-size: 40px;
    width: 500px;
    height: 60px;
    border-style: solid;
    border-color:#678983; 
    padding:20px;
    margin-left: 350px;
}

.yazi1{
        font-size: 20px;
        text-align: center;
        padding: 0px 190px 0px 190px;
        
    }
.altbaslik{
  
    color: #181D31;
    font-size: 25px;
    padding: 0px;
    margin-top: -100px;
    text-align: center;
    text-decoration: underline;
}
.urun-ul{
    text-align: center;
    margin-left: 300px;
}
li{
    text-align: center;
    padding: 20px;
    width: 600px;
    height: 500px;
    font: bold;
}

.menu-yatay{
    width: 1600px;
    height: 170px;
    margin-left: 250px;  
}
.menu-yatay ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
   
}
.menu-yatay ul li{
float: left;
font-size: 20px;
margin-left: 20px;
background-color: #181D31;

width: 115px;
height: 30px;

padding-top: 5px;
border-style: solid;
border-color: #678983;
}

.menu-yatay ul li a{
font: bold;
text-decoration: none;
color: white;
display:block;
text-align: center;

}
.menu-yatay ul li a:hover{
color: #181D31;
background-color: white;


}
/*iletişim sayfası*/
.contact{
    width: 1600px;
    height: 170px;

    
}
.contact ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;
    
}
.contact ul li{
    margin-left: 165px;
    width: 170px;
    height: 30px;
    font-size: 30px;
    float: left;
    padding:30px;
    font-style: italic  ;
    
    
}


.menu-dikey{
    width: 170px;
    height: auto;
    margin-left: 330px;  

}
.menu-dikey ol{
    margin: 0px;
    padding: 0px;
   
    font-size: 25px;
}
.menu-dikey ol {
    color:#181D31;
}



